@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primarygreen: #00bf63;
  --color-secondarygreen: #0e824a; 
  --color-lightgreen: #72c49c;
}

.nav-text {
  cursor: pointer;
  position: relative;
}

.nav-text::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #72c49c;
  transition: width 0.4s ease;
}

.nav-text:hover::after {
  width: 100%;
}

.mobile-menu-enter {
  animation: slideDown 0.2s ease-out ;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}